.bloglink-li a{
    font-size: 2rem;
    color: var(--secondary);
    
}
.blogpost{
    width: 100%;
    
}
.blogpost-content{
    color: var(--primary-text);
    margin: 10px 10px;
}
.blogopst-author{
    margin-left: 10px;
    color: var(--secondary);
}
.revisiones{
    width: 250px;
    height: auto;
    color: white;
    margin: 5px auto;
    font-size: 2rem;
    border:2px dotted var(--warning)
    
}
.checker{
 display: flex;
 justify-content: center;
 width: 80%;
 height: auto;
 margin: 10px auto;
}