.bloglink-li a{
    font-size: 2rem;
    color: blue;
    text-decoration: none;
}
.blogpost{
    width: 100%;
    
}
.blogpost-content{
    font-size: 2rem;
    margin: 5px 10px;
}
.blogopst-author{
    margin-left: 10px;
    color: white;
}
.revisiones{
    width: 250px;
    height: auto;
    color: white;
    margin: 5px auto;
    font-size: 2rem;
    border:2px dotted blue
    
}