:root{
  --primary:#f3c516;
  --secondary:#e75e26;
  --warning:#02a750;
  --secondary-text:#757575;
  --primary-text:#70a287;
}
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html{
  font-size: 62.5%;
}
body{
  font-size: 1.6rem;
  background-color: var(--primary);
}
.btn{
   width:100px;
    padding: 2px;
    border-radius: 10px;
   margin: 20px 30px;
    
}
.btn:hover{
  transform: scale(1.2);

}
.succes{
  border: 1px solid var(--secondary);
  
}
.succes:hover{
  background-color: var(--secondary);
  color:black;
}
.warning{
  border: 1px solid var(--warning);
  
}
.warning:hover{
  background-color: var(--warning);
  color:black;
}
.danger{
  border: 1px solid red;
  
}
.danger:hover{
  background-color: red;
  color:black;
}
h1{
  font-size: 3rem;
    text-align: center;
    margin-bottom: 20px;
    color: var(--primary-text);
}
p{
  color: var(--secondary-text);
  font-size: 2rem;
}
